{% extends "index.html" %}
{% load static %}

{% block content %}

<div class="main-wrapper">
    <h1>Crear inventario</h1>
    <div class="form-wrapper">
        <form method="post" id="example-form" enctype="multipart/form-data">
            {% csrf_token %}
            <div style="display: flex; justify-content: space-between; flex-wrap: wrap;">
                <div style="width: calc(50% - 10px); margin-bottom: 20px; box-sizing: border-box;">
                    <div class="form-field">
                        <label for="id_nombre">Nombre Item:</label>
                        {{ form.NombreItem }}
                    </div>
                    <div class="form-field">
                        <label for="id_fecha">FechaIngreso:</label>
                        {{ form.FechaIngreso }}
                    </div>
                    <div class="form-field">
                        <label for="id_cantidad">Cantidad:</label>
                        {{ form.Cantidad }}
                       
                    </div>
                </div>
                <div style="width: calc(50% - 10px); margin-bottom: 20px; box-sizing: border-box;">
                    <div class="form-field">
                        <label for="id_registro">Número de Registro:</label>
                        {{ form.NumeroRegistro }}
                    </div>
                    <div class="form-field">
                        <label for="id_telefono">TiempoVida:</label>
                        {{ form.TiempoVida }}
                       
                    </div>
                    <div class="form-field">
                        <label for="id_rendimiento">Ambiente:</label>
                        {{ form.Ambiente }}
                    </div>
                    <div class="form-field">
                        <label for="id_estado_licencia">Estado de Uilidad:</label>
                        {{ form.Estado }}
                    </div>
                </div>
            </div>
            <div class="form-field">
                <label for="id_Descripcion">Descripción:</label>
                <textarea name="{{ form.Descripcion.name }}" id="{{ form.Descripcion.id_for_label }}" rows="4" cols="50">{{ form.Descripcion.value }}</textarea>
                
            </div>
            <div style="text-align: center;">
                <button type="submit">Crear Item </button>
            </div>
            
        </form>
    </div>
</div>
<!-- Enlace al archivo CSS -->
<link rel="stylesheet" type="text/css" href="{% static 'css/green_formulario.css' %}">

{% endblock %}
