
{% extends "index.html" %}
{% load static %}

{% block content %}
  
  <div class="main-wrapper">
      <h1>REGISTRAR FACTURA</h1>
      <div class="form-wrapper">
          <!--<form method="post" enctype="multipart/form-data">
              {% csrf_token %}
              {{ form.as_p }}
              <button type="submit">Crear Factura</button>
          </form>-->
          <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        {{ form.Orden_de_trabajo.label_tag }}
                        {{ form.Orden_de_trabajo }}
                        {{ form.Id_cliente.label_tag }}
                        {{ form.Id_cliente }}
                        {{ form.Pago_de_detraccion.label_tag }}
                        {{ form.Pago_de_detraccion }}                        
                    </div>
                    <div class="col-md-6">
                        {{ form.Fecha_Emision.label_tag }}
                        {{ form.Fecha_Emision }}
                        {{ form.Importe.label_tag }}
                        {{ form.Importe }}
                        {{ form.Documento_factura.label_tag }}
                        {{ form.Documento_factura }}
                    </div>
                </div>
            </div>
            <div class="form-column" style="flex: 1; text-align: center; margin-top: 50px;">
                <button type="submit">Crear factura</button>
            </div>
        </form>
      </div>
  </div>

   <!-- Enlace al archivo CSS -->
   <link rel="stylesheet" type="text/css" href="{% static 'css/green_formulario.css' %}">

{% endblock %}
