{% extends "index.html" %}
{% load static %}

{% block content %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/orden_trabajo_formulario.css' %}">
    <div class="main-wrapper">
        <h1>Crear inventario</h1>
        <div class="form-wrapper">

            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="form-group col-50">
                    <label for="{{ form.NombreItem.id_for_label }}">Nombre del item:</label>
                    {{ form.NombreItem }}
                </div>
                <div class="form-group col-50">
                    <label for="{{ form.NumeroRegistro.id_for_label }}">Numero de registro:</label>
                    {{ form.NumeroRegistro }}
                </div>
                <div class="form-group col-50">
                    <label for="{{ form.FechaIngreso.id_for_label }}">Fecha de ingreso:</label>
                    {{ form.FechaIngreso }}
                </div>
                <div class="form-group col-50">
                    <label for="{{ form.Cantidad.id_for_label }}">Cantidad:</label>
                    {{ form.Cantidad }}
                </div>

                <div class="form-group col-50">
                    <label for="{{ form.TiempoVida.id_for_label }}">Vida util(dias):</label>
                    {{ form.TiempoVida }}
                </div>
                <div class="form-group col-50">
                    <label for="{{ form.Ambiente.id_for_label }}">Ambiente:</label>
                    {{ form.Ambiente }}
                </div>
                <div class="form-group col-70">
                    <label for="{{ form.Estado.id_for_label }}">Estado:</label>
                    {{ form.Estado }}
                </div>
                <div class="form-group col-100">
                    <label for="{{ form.Descripcion.id_for_label }}">Descripcion:</label>
                    {{ form.Descripcion }}
                </div>
                <div class="center-button col-100">
                    <button type="submit">Crear Item </button>
                </div>
            </form>
        </div>
    </div>

{% endblock %}