{% extends "index.html" %}
{% load static %}

{% block content %}
  
  <div class="main-wrapper">
      <h1>Crear Gasto</h1>
      <div class="form-wrapper">
          <form method="post" enctype="multipart/form-data">
              {% csrf_token %}
              {{ form.as_p }}
              <button type="submit">Crear Gasto</button>
          </form>
      </div>
  </div>

   <!-- Enlace al archivo CSS -->
   <link rel="stylesheet" type="text/css" href="{% static 'css/green_formulario.css' %}">

{% endblock %}