
{% extends "index.html" %}
{% load static %}

{% block content %}

  <div class="main-wrapper">
      <h1>Registrar Factura</h1>
      <div class="form-wrapper">
          <form method="post" enctype="multipart/form-data">
            {% csrf_token %}

            <div class="form-group col-50">
                <label for="{{ form.Orden_de_trabajo.id_for_label }}">Orden de trabajo:</label>
                {{ form.Orden_de_trabajo }}
            </div>

            <div class="form-group col-50">
                <label for="{{ form.Id_cliente.id_for_label }}">RUC del cliente:</label>
                {{ form.Id_cliente }}
            </div>

            <div class="form-group col-50">
                <label for="{{ form.Fecha_Emision.id_for_label }}">Fecha de emision:</label>
                {{ form.Fecha_Emision }}
            </div>

            <div class="form-group col-50">
                <label for="{{ form.Importe.id_for_label }}">Importe:</label>
                {{ form.Importe }}
            </div>

            <div class="form-group col-50">
                <label for="{{ form.Pago_de_detraccion.id_for_label }}">Pago de detraccion:</label>
                {{ form.Pago_de_detraccion }}
            </div>

            <div class="form-group col-100">
                <label for="{{ form.Documento_factura.id_for_label }}">Documento de la factura:</label>
                {{ form.Documento_factura }}
            </div>



            <div class="form-column" style="flex: 1; text-align: center; margin-top: 50px;">
                <button type="submit">Crear factura</button>
            </div>
        </form>
      </div>
  </div>

   <!-- Enlace al archivo CSS -->
   <link rel="stylesheet" type="text/css" href="{% static 'css/orden_trabajo_formulario.css' %}">

{% endblock %}
