{% extends "index.html" %}
{% load static %}

{% block content %}
<div class="delete-order">
  <h2>Eliminar empleado</h2>
  <img src="{% static 'images/delete_img.png' %}" alt="Imagen">
  <p>¿Estás seguro de que deseas eliminar a este empleado?</p>
  <p>DNI: {{ empleados.DNI }}</p>
  <!-- Mostrar otros campos del modelo aquí -->
  <div class="button-container">
      <form method="post">
          {% csrf_token %}
          <input class="delete-button" type="submit" value="Eliminar">
      </form>
      <a class="cancel-button" href="{% url 'lista_empleados' %}">Cancelar</a>
  </div>
</div>



<!-- Enlace al archivo CSS -->
<link rel="stylesheet" type="text/css" href="{% static 'css/green_eliminar.css' %}">
{% endblock %}
