{% extends "index.html" %}
{% load static %}


{% block content %}
<div class="container">
  <h2>Listado de Facturas</h2>

  <a class="btn-crear" href="https://api-seguridad.sunat.gob.pe/v1/clientessol/4f3b88b3-d9d6-402a-b85d-6a0bc857746a/oauth2/loginMenuSol?originalUrl=https://e-menu.sunat.gob.pe/cl-ti-itmenu/AutenticaMenuInternet.htm&state=rO0ABXNyABFqYXZhLnV0aWwuSGFzaE1hcAUH2sHDFmDRAwACRgAKbG9hZEZhY3RvckkACXRocmVzaG9sZHhwP0AAAAAAAAx3CAAAABAAAAADdAAEZXhlY3B0AAZwYXJhbXN0AEsqJiomL2NsLXRpLWl0bWVudS9NZW51SW50ZXJuZXQuaHRtJmI2NGQyNmE4YjVhZjA5MTkyM2IyM2I2NDA3YTFjMWRiNDFlNzMzYTZ0AANleGVweA==">Emitir factura en la SUNAT</a>
  <div class="row">
    <div class="col">
      <label for="show-entries">Mostrar Registros:</label>
    </div>
      <div class="col">
      <select id="show-entries" onchange="mostrarEntradas(this.value)" class="form-control">
        <option value="all">All</option>
        <option value="5">5</option>
        <option value="10">10</option>
        <option value="20">20</option>
      </select>
    </div>
    <div class="col">
      <input type="text" id="busqueda" placeholder="Buscar por codigo ODT..." onkeyup="buscar()" class="form-control">

    </div>
  </div>
</div>

 <table class="table" id="tabla-facturas">
   <thead>
     <tr>
       <th>Numero de Factura</th>
       <th>Codigo de Orden de Trabajo</th>
       <th>Fecha de Emision</th>
       <th>Importe</th>
       <th>Pago de detracción</th>
       <th colspan="3" style="text-align: center;">Acciones</th>
     </tr>
   </thead>
   <tbody>
     {% for factura in factura %}
       <tr>
       	 <td>2023-{{ factura.id|stringformat:"0004d" }}</td>
         <td>{{ factura.Orden_de_trabajo }}</td>
         <td>{{ factura.Fecha_Emision }}</td>
         <td>{{ factura.Importe }}</td>
         <td>{{ factura.Pago_de_detraccion }}</td>
         <td>
           <a class="btn btn-primary" href="{% url 'ver_factura' factura.pk %}">Ver detalles</a>
         </td>
         <td>
           <a class="btn btn-warning" href="{% url 'editar_factura' factura.pk %}">Editar</a>
         </td>
         <td>
           <a class="btn btn-danger" href="{% url 'eliminar_factura' factura.pk %}">Eliminar</a>
         </td>
       </tr>
     {% endfor %}
   </tbody>
 </table>
 <!-- Botón para crear nueva factura -->


<a class="btn-crear" href="{% url 'crear_factura' %}">Crear Nueva Factura</a>

<script>
  function buscar() {
    var input, filter, table, tr, td, i, txtValue;
    input = document.getElementById("busqueda");
    filter = input.value.toUpperCase();
    table = document.getElementById("tabla-facturas");
    tr = table.getElementsByTagName("tr");

    // Recorre todas las filas de la tabla y muestra solo las que coincidan con la consulta de búsqueda
    for (i = 0; i < tr.length; i++) {
      td = tr[i].getElementsByTagName("td")[1]; // La segunda columna es la columna de nombre
      if (td) {
        txtValue = td.textContent || td.innerText;
        if (txtValue.toUpperCase().indexOf(filter) > -1) {
          tr[i].style.display = "";
        } else {
          tr[i].style.display = "none";
        }
      }
    }
  }

  function mostrarEntradas(numero) {
    var table = document.getElementById("tabla-facturas");
    var tr = table.getElementsByTagName("tr");

    // Mostrar todas las filas
    if (numero === "all") {
      for (var i = 0; i < tr.length; i++) {
        tr[i].style.display = "";
      }
    } else {
      for (var i = 1; i < tr.length; i++) {
        if (i <= parseInt(numero)) {
          tr[i].style.display = "";
        } else {
          tr[i].style.display = "none";
        }
      }
    }
  }
</script>


 <!-- Enlace al archivo CSS -->
<link rel="stylesheet" type="text/css" href="{% static 'css/green_lista.css' %}">


{% endblock %}