{% extends "index.html" %}
{% load static %}


{% block content %}


<div class="container">
  <h2>Listado de Órdenes de trabajo</h2>
  <div class="row">
    <div class="col">
      <label for="show-entries">Mostrar Registros:</label>
    </div>
      <div class="col">
      <select id="show-entries" onchange="mostrarEntradas(this.value)" class="form-control">
        <option value="all">All</option>
        <option value="5">5</option>
        <option value="10">10</option>
        <option value="20">20</option>
      </select>
    </div>
    <div class="col">
      <input type="text" id="busqueda" placeholder="Buscar por origen." onkeyup="buscar()" class="form-control">
 
    </div>
  </div>
</div>

 <table class="table" id="tabla-orden">
   <thead>
     <tr>
       <th>RUC cliente</th>
       <th>Origen</th>
       <th>Destino</th>
       <th>Fecha de Emision</th>
       <th>Estado</th>
       <th>Tipo Orden de Trabajo</th>
       <th colspan="3" style="text-align: center;">Acciones</th>
     </tr>
   </thead>
   <tbody>
     {% for orden_de_trabajo in ordenes_trabajo %}
       <tr>
         <td>{{ orden_de_trabajo.Cliente }}</td>
         <td>{{ orden_de_trabajo.Origen }}</td>
         <td>{{ orden_de_trabajo.Destino }}</td>
         <td>{{ orden_de_trabajo.Fecha_Emision }}</td>
         <td>{{ orden_de_trabajo.Estado }}</td>
         <td>{{ orden_de_trabajo.Tipo_orden_de_trabajo }}</td>
         <td>
           <a class="btn btn-primary" href="{% url 'ver_orden_trabajo' orden_de_trabajo.pk %}">Ver detalles</a>
         </td>
         <td>
           <a class="btn btn-warning" href="{% url 'editar_orden_trabajo' orden_de_trabajo.pk %}">Editar</a>
         </td>
         <td>
           <a class="btn btn-danger" href="{% url 'eliminar_orden_trabajo' orden_de_trabajo.pk %}">Eliminar</a>
         </td>
       </tr>
     {% endfor %}
   </tbody>
 </table>
 <!-- Botón para crear nueva orden de trabajo -->


<a class="btn-crear" href="{% url 'crear_orden_trabajo' %}">Crear Nueva Orden de Trabajo</a>

<script>
  function buscar() {
    var input, filter, table, tr, td, i, txtValue;
    input = document.getElementById("busqueda");
    filter = input.value.toUpperCase();
    table = document.getElementById("tabla-orden");
    tr = table.getElementsByTagName("tr");

    // Recorre todas las filas de la tabla y muestra solo las que coincidan con la consulta de búsqueda
    for (i = 0; i < tr.length; i++) {
      td = tr[i].getElementsByTagName("td")[1]; // La segunda columna es la columna de nombre
      if (td) {
        txtValue = td.textContent || td.innerText;
        if (txtValue.toUpperCase().indexOf(filter) > -1) {
          tr[i].style.display = "";
        } else {
          tr[i].style.display = "none";
        }
      }
    }
  }

  function mostrarEntradas(numero) {
    var table = document.getElementById("tabla-orden");
    var tr = table.getElementsByTagName("tr");

    // Mostrar todas las filas
    if (numero === "all") {
      for (var i = 0; i < tr.length; i++) {
        tr[i].style.display = "";
      }
    } else {
      for (var i = 1; i < tr.length; i++) {
        if (i <= parseInt(numero)) {
          tr[i].style.display = "";
        } else {
          tr[i].style.display = "none";
        }
      }
    }
  }
</script>


 <!-- Enlace al archivo CSS -->
<link rel="stylesheet" type="text/css" href="{% static 'css/green_lista.css' %}">


{% endblock %}

