{% extends "index.html" %}
{% load static %}
{% block content %}

<div id="wrapper">
    <div id="slider" class="inspiro-slider arrows-large arrows-creative dots-creative" data-height-xs="360">
        <div class="slide background-overlay-one" style="background-image:url('images/logo.jpg');">
            <div class="container col-md-offset-5">
                <h2 data-caption-animate="fadeInUp">Perfil del usuario</h2>
            </div>
        </div>
    </div>


<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-12">
            <div class="card border-dark mt-5">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-4">
                            <img src="{% static 'images/faq_man.png' %}" alt="Foto de perfil" class="img-fluid rounded-circle">
                            <h5 class="card-title mb-2" style="font-size: 24px; margin-top: 10px;">@{{user.username}}</h5>
                        </div>
                        <div class="col-md-12">
                            <div class="card-body">
                                <p class="mb-3" style="font-size: 18px;"><strong>Nombre:</strong><span>{{ user.first_name }} {{ user.last_name }}</span></p>
                                <p class="mb-3" style="font-size: 18px;"><strong>Email:</strong> <span>{{ user.email }}</span></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

    <footer id="footer" class="footer-light">
        <div class="copyright-content">
            <div class="container">
            </div>
        </div>
    </footer>

    <!-- Bootstrap JS and dependencies -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>

    <script src="https://kit.fontawesome.com/your-font-awesome-key.js" crossorigin="anonymous"></script>

</div>



{% endblock %}