{% extends "index.html" %}
{% load static %}

{% block content %}
   <div class="page-container">
    <div class="center-container"></div>
     <div class="view-order" id="print-content">
       <h1>Detalles de la Orden de Trabajo ODT-{{ orden_trabajo.id }}</h1>
       <div class="order-details">

        <table class="order-table">
          <tr>
            <td ><div >Item</div> </td>
            <td> Detalle</td>
          </tr>
          <tr>
            <td><strong>Nombre Completo del Cliente:</strong></td>
            <td>{{ orden_trabajo.Cliente }}</td>
          </tr>
          <tr>
            <td><strong>Nombre del Conductor:</strong></td>
            <td>{{ orden_trabajo.Id_Conductor }}</td>
          </tr>
          <tr>
            <td><strong>Origen:</strong></td>
            <td>{{ orden_trabajo.Origen }}</td>
          </tr>
          <tr>
            <td><strong>Fecha de Emision:</strong></td>
            <td>{{ orden_trabajo.Fecha_Emision}}</td>
          </tr>
          <tr>
            <td><strong>Tipo de Orden de trabajo</strong></td>
            <td>{{ orden_trabajo.Tipo_orden_de_trabajo }}</td>
          </tr>
          <tr>
            <td><strong>Tipo de Mercadería:</strong></td>
            <td>{{ orden_trabajo.Cliente.Tipo_Mercaderia }}</td>
          </tr>
          <tr>
            <td><strong>Detalles:</strong></td>
            <td>{{ orden_trabajo.Detalles }}</td>
          </tr>
          <tr>
            <td><strong>Descripcion:</strong></td>
            <td>{{ orden_trabajo.Descripcion }}</td>
          </tr>
          <tr>
            <td><strong>Placa del Vehiculo:</strong></td>
            <td>{{ orden_trabajo.Id_Vehiculo }}</td>
          </tr>
          <tr>
            <td><strong>Monto de Cotizacion:</strong></td>
            <td>{{ orden_trabajo.Monto_Cotizacion }} soles</td>
          </tr>
          <tr>
            <td><strong>Destino:</strong></td>
            <td>{{ orden_trabajo.Destino }}</td>
          </tr>
          <tr>
            <td><strong>Peso(Toneladas):</strong></td>
            <td>{{ orden_trabajo.Peso }}</td>
          </tr>
          <tr>
            <td><strong>Estado:</strong></td>
            <td>{{ orden_trabajo.Estado }}</td>
          </tr>
        </table>
       </div>
      </div>
      <div class="image-container">
         <!-- <img src="{% static 'images/icon_details.png' %}" alt="Imagen" width="400" height="auto" >  La imagen que se mostrará al lado derecho de la pantalla -->
      </div>
      <div class="button-container">
          <a class="back-button" href="{% url 'lista_ordenes_trabajo' %}">Volver a la Lista</a>
          <button class="imprimir-button" onclick="imprimirDetalles()">Imprimir</button>
      </div>
     </div>  
   </div>

   <!-- Enlace al archivo CSS -->
   <link rel="stylesheet" type="text/css" href="{% static 'css/green_ver.css' %}">

   <script>
    var rutaCSS = "{% static 'css/ver_orden.css' %}";
    
  function imprimirDetalles() {
        var ventanaImpresion = window.open('', '', 'width=600,height=600');
        ventanaImpresion.document.write('<html><head>');
        ventanaImpresion.document.write('<link rel="stylesheet" href="' + rutaCSS + '" type="text/css" media="print">');
        ventanaImpresion.document.write('<style>');
        ventanaImpresion.document.write('table {');
        ventanaImpresion.document.write('   margin: auto;'); // Centrar la tabla
        ventanaImpresion.document.write('   border-collapse: collapse;');
        ventanaImpresion.document.write('   width: 80%;'); // Ancho de la tabla
        ventanaImpresion.document.write('}');
        ventanaImpresion.document.write('th, td {');
        ventanaImpresion.document.write('   border: 1px solid black;'); // Borde negro
        ventanaImpresion.document.write('   padding: 8px;');
        ventanaImpresion.document.write('   text-align: left;');
        ventanaImpresion.document.write('}');
        ventanaImpresion.document.write('h1, h2 {');
        ventanaImpresion.document.write('   text-align: center;');
        ventanaImpresion.document.write('}');
        ventanaImpresion.document.write('.encabezado {');
        ventanaImpresion.document.write('   text-align: center;');
        ventanaImpresion.document.write('}');
        ventanaImpresion.document.write('.pie-pagina {');
        ventanaImpresion.document.write('   position: fixed;');
        ventanaImpresion.document.write('   bottom: 20px;');
        ventanaImpresion.document.write('   width: 100%;');
        ventanaImpresion.document.write('   display: flex;');
        ventanaImpresion.document.write('   justify-content: space-between;');
        ventanaImpresion.document.write('}');
        ventanaImpresion.document.write('</style>');
        ventanaImpresion.document.write('</head><body>');

        ventanaImpresion.document.write('<div class="encabezado">');
        //ventanaImpresion.document.write('<img id="logo-img" alt="Logo" style="width: 100px; height: auto;">');

        ventanaImpresion.document.write('<h1>Transmicorp S.A.C</h1>');
        ventanaImpresion.document.write('</div>');
        ventanaImpresion.document.write('<h2>Detalles de la Orden de Trabajo</h2>');

        // Contenido de la orden de trabajo en una tabla
        ventanaImpresion.document.write('<table class="view-order" id="print-content">');
        
        // Encabezado de la tabla
        ventanaImpresion.document.write('<tr><th>Item</th><th>Detalle</th></tr>');
        
        // Datos de la tabla
        var tableRows = document.querySelectorAll('.order-table tr');
        for (var i = 0; i < tableRows.length; i++) {
            ventanaImpresion.document.write('<tr>');
            var columns = tableRows[i].querySelectorAll('td');
            for (var j = 0; j < columns.length; j++) {
                ventanaImpresion.document.write('<td>' + columns[j].innerHTML + '</td>');
            }
            ventanaImpresion.document.write('</tr>');
        }
        
        ventanaImpresion.document.write('</table>');

        // Pie de página
        ventanaImpresion.document.write('<div class="pie-pagina">');
        ventanaImpresion.document.write('<div>Mza. Ñ Loote 8 URB Alas del Sur Arequipa-Arequipa Jose Luis Bustamente y Rivero</div>');
        ventanaImpresion.document.write('<div>Contacto: +123456789 correo@ejemplo.com</div>');
        ventanaImpresion.document.write('</div>');

        ventanaImpresion.document.write('</body></html>');
        ventanaImpresion.document.close();
        ventanaImpresion.print();
        
        // Cargar la imagen en la ventana de impresión
        var logoImg = ventanaImpresion.document.getElementById('logo-img');
        var logoPath = "logo.png";
        logoImg.src = logoPath;
    }
   </script>
{% endblock %}

